<html>
    <head></head>
<body>
<div>
<div align="center">
<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="600">
<tbody>
<tr>
<td colspan="1" rowspan="1" width="600">
<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td colspan="1" rowspan="1" width="300"><img alt="Constant Contact" border="0" src="https://ci4.googleusercontent.com/proxy/JPsY2GNktseDuKIAhoQR55oSSFN6ZDGifShh9upRxu_Xf1TrdahYrSYmMrf_P6i5x7M02jScQc0L5NsjRRF75l38RReKJOf1b_GJVnJ5tQbkwM39vkmxNSJslDWs1kDTf1vtvS8=s0-d-e1-ft#http://img.constantcontact.com/mktg/marketing/campaigns/logos/ctct_logo_175x45.png" class="CToWUd">
<hr style="border:#5b5b5b 1px solid">
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1" width="600">
<table width="100%">
<tbody>
<tr>
<td colspan="1" rowspan="1" valign="top" style="font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;font-size:10pt;color:#5b5b5b">
<div>Dear {name_client},</div>
<div>&nbsp;</div>
<div>Your campaign <b>'The latest news for you'</b> was sent on {date_now} around {time_now} EST.</div>
<div>&nbsp;</div>
<div>Below is a copy of the message your subscribers received. See how your campaign is doing by visiting Reports
<a href="https://login.constantcontact.com/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://login.constantcontact.com/&amp;source=gmail&amp;ust=1546185437085000&amp;usg=AFQjCNGkrKEfcNuKgfTOuYB-Mjuat1rzBg"><font color="0078c1">in your account</font></a> to get real-time results and stats.</div>
<div>&nbsp;</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">&nbsp;</td>
</tr>
<tr>
<td colspan="1" rowspan="1" width="600">
<table cellpadding="4" cellspacing="0" width="100%">
<tbody>
<tr>
<td colspan="1" rowspan="1" style="font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;font-size:10pt;color:#5b5b5b">
<hr style="border:#5b5b5b 1px solid">
<b>Subject:</b> The latest news for you
<hr style="border:#5b5b5b 1px solid">
<u></u>
<div align="center" bgcolor="#e6e6e6" style="width:100%;min-width:100%;background-color:#e6e6e6;margin:0px;padding:0px">
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="text-align:center;min-width:100%">
<tbody>
<tr>
<td>
<div>
<div style="display:none;font-size:1px;color:transparent;line-height:1px;max-height:0px;max-width:0px;overflow:hidden">
<span>You don't want to miss this.</span> </div>
<img alt="" src="https://ci6.googleusercontent.com/proxy/bMeq2aRr0yfE1tiKADqO4Fnc_BM1Wuu3uyB5sQz7sRlqtu4cGEMDNYkvirfgC9jLHm-WxG_HWNhPRSSfTk0wvG-TjY40YG_vTxY0HoPs4yQIVcK7WAEAVMgIa2_xTYZ_pj5DDYc9s-YlLMA=s0-d-e1-ft#http://r20.rs6.net/on.jsp?ca=ea261a8e-bd03-4e60-9782-b987191380c6&amp;a=1131715132713&amp;c=&amp;ch=" class="CToWUd">
</div>
</td>
</tr>
<tr>
<td align="center">
<div style="background-color:#e6e6e6">
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#e6e6e6" style="background-color:#e6e6e6">
<tbody>
<tr>
<td align="center">
<table width="612" align="center" border="0" cellpadding="0" cellspacing="0" style="width:612px">
<tbody>
<tr>
<td align="center" valign="top" style="padding:15px 5px">
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td align="center" valign="top" bgcolor="#869198" style="background-color:#869198;padding:1px">
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#869198" style="background-color:#869198">
<tbody>
<tr>
<td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff;padding:0">
<div>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="min-width:100%">
<tbody>
<tr>
<td width="100%" align="left" valign="top">
<div>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td align="center" valign="top">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td width="100%" align="center" valign="top" style="padding-bottom:10px;height:1px;line-height:1px">
<div><img alt="" width="5" height="1" border="0" hspace="0" vspace="0" style="display:block;height:1px;width:5px" src="https://ci6.googleusercontent.com/proxy/hGrq11JG9KecB2nG0ztsJdIJsShd70PcMwlY7vDILI7Fc7SBVfbbc4wG_OUVaE6DKHnxEZLrHYsrLGiKl23tFIyxiTHqbeDSTQkpSvG9=s0-d-e1-ft#https://imgssl.constantcontact.com/letters/images/sys/S.gif" class="CToWUd"></div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
<div>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td align="center" valign="top" style="padding-top:0px;padding-bottom:0px">
<div><img alt="" width="232" border="0" hspace="0" vspace="0" style="display:block;height:auto;max-width:100%" src="https://ci3.googleusercontent.com/proxy/qniqJQ_TekzPAjaY0D2hgZZA0TiEXX-b14w5uSipiQj_xtGYu0P_J1Dt0cLVvGMXTlSUPW6r_IcuqnjOaKzOiQW8sS9LCL_mEW1_e3jKiWh39rAzzaM9XL-gsUE6QZxyYRN8NFSNkYQ=s0-d-e1-ft#http://files.constantcontact.com/92d7a7f7701/9240b733-e957-449c-80b8-debebf36a5d0.jpg" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01;"><div id=":15n" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Scarica" role="button" tabindex="0" aria-label="Scarica allegato " data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div></div>
</div>
</td>
</tr>
</tbody>
</table>
</div>
<div>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td align="center" valign="top">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td width="100%" align="center" valign="top" style="padding-bottom:10px;height:1px;line-height:1px">
<div><img alt="" width="5" height="1" border="0" hspace="0" vspace="0" style="display:block;height:1px;width:5px" src="https://ci6.googleusercontent.com/proxy/hGrq11JG9KecB2nG0ztsJdIJsShd70PcMwlY7vDILI7Fc7SBVfbbc4wG_OUVaE6DKHnxEZLrHYsrLGiKl23tFIyxiTHqbeDSTQkpSvG9=s0-d-e1-ft#https://imgssl.constantcontact.com/letters/images/sys/S.gif" class="CToWUd"></div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="min-width:100%">
<tbody>
<tr>
<td width="100%" align="left" valign="top">
<div>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td align="left" valign="top" style="font-family:Arial,Verdana,Helvetica,sans-serif;font-size:12px;color:#403f42;text-align:left;display:block;word-wrap:break-word;padding:10px 20px">
<div></div>
<div>
<div>
<div><a href="#m_4368860240501198879_m_1291161458816193306_" style="font-weight:bold;font-family:Calibri,Helvetica,Arial,sans-serif;color:rgb(41,75,147);font-size:15px;font-style:normal;text-decoration:underline">Condiciones:
</a></div>
<div align="justify" style="text-align:justify"><span style="font-family:Calibri,Helvetica,Arial,sans-serif;color:rgb(41,75,147);font-size:15px">Precio por persona dólares americanos. En acomodación hab. doble o matrimonial. Formas de pago en efectivo directa,
 depósitos en la cuenta corriente en dólares Nº 0011 0426 41 0100017179 &nbsp;BBVA continental VALE MUNDO REPS E.I.R.L. Otras formas de pago consultar con nuestros asesores de viajes. Reservas aéreas en clase destinado por la aerolínea, sujetos a disponibilidad
 de espacios, cambios y regulación sin previo aviso por la línea aérea. Emisión del boleto aéreo 08 días antes del inicio del viaje y 03 días después de hecha la reserva o el día que indique el sistema. Servicios de transporte en sistema regular, con horarios
 y fechas establecidas por el Operador turístico en destino. Válido para viajar del 10/01/2019 al 31/03/2019. Válido para comprar hasta el 21 diciembre 2018. No reembolsable, no endosable, ni transferible. No se permite cambios.&nbsp;El precio no aplica a feriados.
 Precios sujetos a cambio sin previo aviso. Válido hasta agotar stock. Tipo de cambio 3.40</span></div>
<div><br>
</div>
<div><br>
</div>
</div>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="min-width:100%">
<tbody>
<tr>
<td width="100%" align="left" valign="top">
<div>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td align="left" valign="top" style="font-family:Arial,Verdana,Helvetica,sans-serif;font-size:12px;color:#403f42;text-align:left;display:block;word-wrap:break-word;padding:10px 20px">
<div></div>
<div>
<div>
<div><span style="color:rgb(41,75,147)">Correo 1 : <a href="mailto:valemundov@gmail.com" target="_blank">
valemundov@gmail.com</a></span></div>
<div><span style="color:rgb(41,75,147)">Correo 2 : <a href="mailto:aviajarsrl@gmail.com" target="_blank">
aviajarsrl@gmail.com</a></span></div>
<div><span style="color:rgb(41,75,147)">teléfono : 993774748</span></div>
</div>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="min-width:100%">
<tbody>
<tr>
<td width="100%" align="left" valign="top">
<div>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td align="center" valign="top">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td width="100%" align="center" valign="top" style="padding-bottom:50px;height:1px;line-height:1px">
<div><img alt="" width="5" height="1" border="0" hspace="0" vspace="0" style="display:block;height:1px;width:5px" src="https://ci6.googleusercontent.com/proxy/hGrq11JG9KecB2nG0ztsJdIJsShd70PcMwlY7vDILI7Fc7SBVfbbc4wG_OUVaE6DKHnxEZLrHYsrLGiKl23tFIyxiTHqbeDSTQkpSvG9=s0-d-e1-ft#https://imgssl.constantcontact.com/letters/images/sys/S.gif" class="CToWUd"></div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="min-width:100%">
<tbody>
<tr>
<td width="100%" align="left" valign="top">
<div>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="min-width:100%">
<tbody>
<tr>
<td align="center" valign="top">
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="min-width:100%">
<tbody>
<tr>
<td width="100%" align="center" valign="top" style="padding:9px 0px">
<table cellpadding="0" cellspacing="0" border="0" align="center" style="height:1px;width:93%;min-width:93%">
<tbody>
<tr>
<td height="1" align="center" bgcolor="#869198" style="border-bottom-style:none;height:1px;line-height:1px;padding-bottom:0px;background-color:#869198">
<div><img alt="" width="5" height="1" border="0" hspace="0" vspace="0" style="display:block;height:1px;width:5px" src="https://ci6.googleusercontent.com/proxy/hGrq11JG9KecB2nG0ztsJdIJsShd70PcMwlY7vDILI7Fc7SBVfbbc4wG_OUVaE6DKHnxEZLrHYsrLGiKl23tFIyxiTHqbeDSTQkpSvG9=s0-d-e1-ft#https://imgssl.constantcontact.com/letters/images/sys/S.gif" class="CToWUd"></div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="min-width:100%">
<tbody>
<tr>
<td width="50%" align="left" valign="top">
<div>
<div><span></span><span></span></div>
</div>
<div>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td align="left" valign="top" style="font-family:Arial,Verdana,Helvetica,sans-serif;font-size:12px;color:#403f42;text-align:left;display:block;word-wrap:break-word;padding:10px 10px 10px 20px">
<div></div>
<div>
<div>
<div><span style="font-weight:bold">Company Name</span> | <a href="#m_4368860240501198879_m_1291161458816193306_" style="color:#48a199;font-weight:normal;font-style:normal;text-decoration:underline">
Website</a> </div>
</div>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</td>
<td width="50%" align="left" valign="top">
<div>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="width:100%;min-width:100%">
<tbody>
<tr>
<td align="right" style="padding:0px 20px 10px 10px">
<div><a href="#m_4368860240501198879_m_1291161458816193306_" style="display:inline-block;text-decoration:none"><img alt="Facebook" width="32" border="0" style="display:inline-block;margin:0;padding:0" src="https://ci5.googleusercontent.com/proxy/WnybKy7jdj7RZcaj_fx1CvhsiVF7CgvBbf2_C8-y3g3Uzc_3aHXelcE8Zvp0tSTf1ErcgDN3iKy522k4_xlgYU_pMWBgC2Im92d0_aY0890qTGGg0SKgXx6fP68mgJR1VqPgBGmXHmL4TD9t9xqD-n5b03lTUhdGZSPoQb74GxMU=s0-d-e1-ft#https://imgssl.constantcontact.com/galileo/images/templates/Galileo-SocialMedia/facebook-visit-gray-circle.png" class="CToWUd">
 &zwnj; </a><a href="#m_4368860240501198879_m_1291161458816193306_" style="display:inline-block;text-decoration:none"><img alt="Twitter" width="32" border="0" style="display:inline-block;margin:0;padding:0" src="https://ci6.googleusercontent.com/proxy/rsIZCo7wfHrgSwAGN6lt0zRR-8yOavjgRWdKV_5kL6b2HeKoCZ_z7R3mMrIPL8d175JohMydImFJXtSoFeLnMa6iWwy8fX69xvLfVOfYelMzvbI3kfuKbd2igGUjuI3I18FLh6NwJCUk6ybEGxFcUhjC6fHAwKvy_i8BXOSmkfA=s0-d-e1-ft#https://imgssl.constantcontact.com/galileo/images/templates/Galileo-SocialMedia/twitter-visit-gray-circle.png" class="CToWUd">
 &zwnj; </a><a href="#m_4368860240501198879_m_1291161458816193306_" style="display:inline-block;text-decoration:none"><img alt="Instagram" width="32" border="0" style="display:inline-block;margin:0;padding:0" src="https://ci4.googleusercontent.com/proxy/AiPZCaUfN6F2WbZh_m3ayMKEVNqinI9v0kg0Egaj6haxZYORfT-iiSndmRyLuZTaQa6MweoLYciMh3rMwdGNdBjdQeGDo77lT5ns129wAlFVYg5YYiw5GKrII1cz4FLdOgC9H_w-gc2iEat8vm3GNsHuijSR-Yy7h4Pin0XgxAjUJw=s0-d-e1-ft#https://imgssl.constantcontact.com/galileo/images/templates/Galileo-SocialMedia/instagram-visit-gray-circle.png" class="CToWUd">
 &zwnj; </a></div>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
<tr>
<td></td>
</tr>
</tbody>
</table>
<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="background:#ffffff;margin-left:auto;margin-right:auto;table-layout:auto!important">
<tbody>
<tr>
<td width="100%" align="center" valign="top" style="width:100%">
<div align="center" style="margin-left:auto;margin-right:auto;max-width:100%">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td align="center" valign="top" style="padding:16px 0px">
<table border="0" cellpadding="0" cellspacing="0" style="width:580px">
<tbody>
<tr>
<td align="center" valign="top" style="color:#5d5d5d;font-family:Verdana,Geneva,sans-serif;font-size:12px;padding:4px 0px">
<span>VALE MUNDO REPS EIRL<span> | </span></span><span><a href="mailto:aviajarsrl@gmail.com" target="_blank">aviajarsrl@gmail.com</a><span>,
</span></span><span></span><span></span><span>Lima, 51 Peru</span><span></span> </td>
</tr>
<tr>
<td align="center" valign="top" style="padding:10px 0px">
<table cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td align="center" valign="top" style="color:#5d5d5d;font-family:Verdana,Geneva,sans-serif;font-size:12px;padding:4px 0px">
<a href="https://visitor.constantcontact.com/do?p=un&amp;m=001nyxS0XuHZ379xko18ghxpQ%3D&amp;ch=&amp;ca=ea261a8e-bd03-4e60-9782-b987191380c6" style="color:#5d5d5d" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://visitor.constantcontact.com/do?p%3Dun%26m%3D001nyxS0XuHZ379xko18ghxpQ%253D%26ch%3D%26ca%3Dea261a8e-bd03-4e60-9782-b987191380c6&amp;source=gmail&amp;ust=1546185437086000&amp;usg=AFQjCNFqHtXkPrO3NZD8JR5Q1AtAEKYuYw">Unsubscribe valemundov@gmail.com</a>
</td>
</tr>
<tr>
<td align="center" valign="top" style="color:#5d5d5d;font-family:Verdana,Geneva,sans-serif;font-size:12px;padding:4px 0px">
<a href="https://visitor.constantcontact.com/do?p=oo&amp;m=001nyxS0XuHZ379xko18ghxpQ%3D&amp;ch=&amp;ca=ea261a8e-bd03-4e60-9782-b987191380c6" style="color:#5d5d5d" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://visitor.constantcontact.com/do?p%3Doo%26m%3D001nyxS0XuHZ379xko18ghxpQ%253D%26ch%3D%26ca%3Dea261a8e-bd03-4e60-9782-b987191380c6&amp;source=gmail&amp;ust=1546185437086000&amp;usg=AFQjCNETu7Xh_V1iTwfmVA9g8UgwdLCzfA">Update Profile</a> |
<a href="http://www.constantcontact.com/legal/service-provider?cc=about-service-provider" style="color:#5d5d5d" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.constantcontact.com/legal/service-provider?cc%3Dabout-service-provider&amp;source=gmail&amp;ust=1546185437086000&amp;usg=AFQjCNE6KyAOJBIP9X3KacmeHc8U1ZyIow">
About our service provider</a> </td>
</tr>
<tr>
<td align="center" valign="top" style="color:#5d5d5d;font-family:Verdana,Geneva,sans-serif;font-size:12px;padding:4px 0px">
Sent by <a href="mailto:valemundov@gmail.com" style="color:#5d5d5d;text-decoration:none" target="_blank">
valemundov@gmail.com</a> <span>in collaboration with</span> </td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td align="center" valign="top" style="color:#5d5d5d;font-family:Verdana,Geneva,sans-serif;font-size:12px;padding:4px 0px">
<table width="220" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td align="center" valign="top"><a href="http://www.constantcontact.com/index.jsp?cc=nge" style="color:#5d5d5d;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.constantcontact.com/index.jsp?cc%3Dnge&amp;source=gmail&amp;ust=1546185437086000&amp;usg=AFQjCNHn_Wl4h91jERNiwblCicx7WGXhDg"><img alt="Trusted Email from Constant Contact - Try it FREE today." width="211" border="0" hspace="0" vspace="0" src="https://ci4.googleusercontent.com/proxy/jU1Yznl0mfbeHxJ_kn9wR5Gp9_7EwQbH9L826gAWoqUhXSJ3bBNojS9F50n8qLHkZiNZHc5r2Vz6xnPk9Z18oCAeiumDfT7LHPtAsJaqbnhI=s0-d-e1-ft#https://imgssl.constantcontact.com/ui/images1/logo_ctct_2x.png" class="CToWUd">
</a></td>
</tr>
<tr>
<td align="left" valign="top" style="color:#5d5d5d;font-family:Verdana,Geneva,sans-serif;font-size:12px;padding-left:52px">
<a href="http://www.constantcontact.com/index.jsp?cc=nge" style="color:#5d5d5d;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.constantcontact.com/index.jsp?cc%3Dnge&amp;source=gmail&amp;ust=1546185437086000&amp;usg=AFQjCNHn_Wl4h91jERNiwblCicx7WGXhDg">Try it free today</a>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="1" rowspan="1">&nbsp;</td>
</tr>
<tr style="height:5px;background-color:#000000">
<td colspan="1" rowspan="1"></td>
</tr>
</tbody>
</table>
</div>
</div>
      </body>
    </html>